<?xml version="1.0" encoding="UTF-8" ?>

<launch>

<node name="xbee1" pkg="wifi" type="xbee" respawn="true">
	<param name="port" value="/dev/ttyUSB0"/>
	<param name="write" value="xbee1"/>
</node>	

<node name="xbee2" pkg="wifi" type="xbee" respawn="true">
	<param name="port" value="/dev/ttyUSB1"/>
	<param name="write" value="xbee2"/>
</node>	

<node name="xbee3" pkg="wifi" type="xbee" respawn="true">
	<param name="port" value="/dev/ttyUSB2"/>
	<param name="write" value="xbee3"/>
</node>	
</launch>

